<h2 class='fa fa-code' style="color: magenta"> Sujet n°33</h2>

<h2 class='fa fa-code' style="color: orange"> Exercice n°1</h2>
Consigne :
On modélise la représentation binaire d'un entier non signé par un tableau d'entiers dont
les éléments sont 0 ou 1.

Par exemple, le tableau [1, 0, 1, 0, 0, 1, 1] représente
l'écriture binaire de l'entier dont l'écriture décimale est
2**6 + 2**4 + 2**1 + 2**0 = 83.

À l'aide d'un parcours séquentiel, écrire la fonction convertir répondant aux
spécifications suivantes :

In [ ]:
def convertir(T):
 """
 T est un tableau d'entiers, dont les éléments sont 0 ou 1 et
 représentant un entier écrit en binaire. Renvoie l'écriture
 décimale de l'entier positif dont la représentation binaire
 est donnée par le tableau T
 """

Exemples :

In [ ]:
>>> convertir([1, 0, 1, 0, 0, 1, 1])
83
>>> convertir([1, 0, 0, 0, 0, 0, 1, 0])
130

Voici la solution que je propose :

In [9]:
def convertir(T : list) -> int:
    """
    Description : on prend en parametre une liste T d'entiers 1 ou 0 représentant un nombre en écriture binaire. Le script renvoie ensuite le nombre en écriture décimale

    Exemple : convertir([1,0,1,0,1]) -> 21
    convertir([1,0,0,0,1,0,1]) -> 69
    convertir([0,1,1,0,1,0]) -> 26

    Préconditions : La variable T doit êre une liste de 0 et de 1

    Postconditions : la variable de sortie nb_decimal est un int
    """
    nb_decimal = 0
    for i in range(len(T)):
        nb_decimal += T[i]*(2**(len(T)-(i+1)))
    return nb_decimal

Tests de l'énoncé :

In [10]:
print(convertir([1, 0, 1, 0, 0, 1, 1]))

print(convertir([1, 0, 0, 0, 0, 0, 1, 0]))

83
130

<h2 class='fa fa-code' style="color: orange"> Exercice n°2</h2>

Consigne : La fonction tri_insertion suivante prend en argument une liste L et trie cette liste en
utilisant la méthode du tri par insertion.

Compléter cette fonction pour qu'elle réponde à la
spécification demandée

Code à compléter :

In [ ]:
def tri_insertion(L):
    n = len(L)
    # cas du tableau vide
    if ...:
        return L
    for j in range(1,n):
        e = L[j]
        i = j
    # A l'étape j, le sous-tableau L[0,j-1] est trié
    # et on insère L[j] dans ce sous-tableau en déterminant
    
    # le plus petit i tel que 0 <= i <= j et L[i-1] > L[j].
    while i > 0 and L[i-1] > ...:
        i = ...
    # si i != j, on décale le sous tableau L[i,j-1] d’un cran
    # vers la droite et on place L[j] en position i
    if i != j:
        for k in range(j,i,...):
            L[k] = L[...]
        L[i] = ...
    return L

On devra obtenir :

In [ ]:
>>> tri_insertion([2,5,-1,7,0,28])
[-1, 0, 2, 5, 7, 28]

>>> tri_insertion([10,9,8,7,6,5,4,3,2,1,0])
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Voici le code correctement complété :

In [23]:
def tri_insertion(L):
    n = len(L)
    # cas du tableau vide
    if L == []:
        return L
    for j in range(1,n):
        e = L[j]
        i = j
        # A l'étape j, le sous-tableau L[0,j-1] est trié
        # et on insère L[j] dans ce sous-tableau en déterminant
        # le plus petit i tel que 0 <= i <= j et L[i-1] > L[j].
        while i > 0 and L[i-1] > e:
            i = i - 1
        # si i != j, on décale le sous tableau L[i,j-1] d’un cran
        # vers la droite et on place L[j] en position i
        if i != j:
            for k in range(j,i,-1):
                L[k] = L[k-1]
            L[i] = e
    return L

Tests de l'énoncé :

In [24]:
print(tri_insertion([2,5,-1,7,0,28]))  

print(tri_insertion([10,9,8,7,6,5,4,3,2,1,0]))

[-1, 0, 2, 5, 7, 28]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]